body, html {
    height: 100%
}

.center-1 {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.center-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.center-2 img {
    max-width:99%;
    max-height:99%;
}

.center-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  